body{
    background-color: paleturquoise;
}

h1{
    color:cadetblue ;
    background-color: rgb(255, 223, 184);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 50px;
    
}
@keyframes example{
    from{box-shadow: 1px 1px 37px goldenrod;}
    to{box-shadow: 1px 1px 37px rgb(246, 246, 166);}
}
p{
    padding-top: 10px;
    font-size: 25px;
}
#show_sketch{
    float: right;
}